.allure-img {
    text-align: left;
    position: relative;
    overflow: hidden;
}
.allure-img img:not(:first-child) {
    display: block;
    position: absolute;
    top: 0;
}

.scheme-wrap {
    position: relative;
}

.reveal .scheme-wrap_img {
    position: absolute;
    top: 3px;
    height: 100%;
    width: 70%;
    overflow: hidden;
    text-align: left;
}

.reveal .scheme-wrap_img img, .reveal .allure-slice img, .reveal .img_noborder img {
    margin: 0;
    border: 0;
    box-shadow: none;
}

.reveal .allure-slice {
    line-height: 0;
    position: relative;
}

.allure-slice img:nth-child(1) {
    max-width: 100%;
    max-height: 100%;
}

.allure-slice img:nth-child(1) {
    width: 100%;
}
.allure-slice img:nth-child(2) {
    width: 7.05%;
}
.allure-slice img:nth-child(3) {
    width: 46.1%;
}
.allure-slice img:nth-child(4) {
    width: 46.8%;
}

.fragment.visible + .allure-slice img {
    margin: 2%;
    border: 1px dashed #ccc;
}

.fragment.visible + .allure-slice img:nth-child(1) {
    width: 94.3%;
}
.fragment.visible + .allure-slice img:nth-child(2) {
    width: 6.05%;
}
.fragment.visible + .allure-slice img:nth-child(3) {
    width: 39.6%;
}
.fragment.visible + .allure-slice img:nth-child(4) {
    width: 40.2%;
}